@font-face {
    font-family: Roboto-Bold;
    src: url(/fonts/Roboto-Bold.ttf);
}


body {
    font-family: Roboto-Bold, sans-serif;
    background-color: #1f2937;
    color: white;
}

.randominfo {
    display: flex;
    flex-direction: row;
    flex: 1;
}